@import '../../base.scss';
.about {
    background-color: $greyscale1;
    font-family: $standard-font;
    .aboutTeamHeader {
        font-size: $header-font-size;
        font-weight: $bold-font-weight;
        color: $inkstone-purple;
        text-align: center;
        padding-top: 4vw;
    }
    .aboutTeamMemberGrid {
        display: grid;
        grid-template-columns: 2fr 4fr 4fr 2fr;
        .aboutTeamMemberPanel {
            grid-column: 2 / 4;
            grid-auto-flow: row;
            text-align: center;
            .aboutTeamMemberBox {
                display: inline-flex;
                flex-direction: column;
                justify-self: center;
                align-items: center;
                width: calc(min(max(35vw, 0px), 250px));
                margin-left: 5vw;
                margin-right: 5vw;
                margin-top: 2vw;
                margin-bottom: 2vw;
                .aboutTeamMemberPhoto {
                    width: 100%;
                }
                .aboutTeamMemberDescription {
                    margin-top: 10px;
                    text-align: justify;
                    font-weight: $standard-font-weight;
                    .aboutTeamMemberDescriptionName {
                        font-weight: $extra-bold-font-weight;
                    }
                }
            }
        }
    }
}

@media (max-width: 1100px) {
    .about {
        .aboutTeamMemberGrid {
            .aboutTeamMemberPanel {
                grid-column: 1 / 5;
            }
        }
    }
}

@media (max-width: 800px) {
    .about {
        .aboutTeamMemberGrid {
            .aboutTeamMemberPanel {
                .aboutTeamMemberBox {
                    .aboutTeamMemberDescription {
                        text-align: left;
                    }
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .about {
        .aboutTeamMemberGrid {
            .aboutTeamMemberPanel {
                .aboutTeamMemberBox {
                    width: 80vw; // put boxes into one column
                }
            }
        }
    }
}