.appRouter {
    display: flex;
    flex-direction: column;
    height: 100%;
    .mainPage{
        display: flex;
        flex-grow: 1; // take space remaining from header and footer
        justify-content: center;
        margin-left: 5vw;
        margin-right: 5vw;
    }
}