// import open sans (weight 300, 400, 600, 700, 300-italic)
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300;500;700&display=swap');

// common color variables
$greyscale1: #F0F0F0;
$greyscale2: #E0E0E0;
$greyscale3: #C0C0C0;
$greyscale4: #909090;
$greyscale5: #505050;
$greyscale6: #303030;

// main color palette
$inkstone-purple: #904989;
$highlight-purple: #B1049C;
$pink: #E33292;
$text-purple: #4F284B;
$pure-white: #FFFFFF;
$light-grey-bg: $greyscale1;
$grey-box: $greyscale2;

// component colors
$disabled-bg: $greyscale2;
$disabled-text: $greyscale3;

// standard fonts
$standard-font: 'Open Sans', 'Noto Sans SC', sans-serif;
$light-font-weight: 300;
$standard-font-weight: 400;
$bold-font-weight: 600; // rounded to 600 for open sans, stay at 500 for noto sans sc
$extra-bold-font-weight: 700;
$header-font-size: calc(min(max(4vw, 25px), 40px));
$text-font-size: calc(min(max(2vw, 13px), 16px));
$button-font-size: calc(min(max(2vw, 18px), 24px));

@mixin removeHyperlinkFormatting {
    color: $text-purple;
    text-decoration: none;
}

@mixin standardHeaderTemplate {
    font-family: $standard-font;
    font-weight: $bold-font-weight;
    color: $inkstone-purple;
    font-size: $header-font-size;
    margin: 20px;
    text-align: center;
}

@mixin standardTextBlockTemplate {
    font-family: $standard-font;
    font-weight: $standard-font-weight;
    color: $text-purple;
    font-size: $text-font-size;
    text-align: center;
    line-height: 1.5;
}