@import '../../base.scss';

.homePage {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    position: relative;
    background-color: $greyscale1;
    .homeTopBannerContainer {
        position: relative;
        top: -76.05px; // extend the top banner into the header
        background-color: #000000;
        width: 100%;
        margin-bottom: -76.05px;
        .homeTopBannerBackground {
            position: absolute;
            z-index: 0;
            left: 0;
            height: 100%;
            max-width: 100%;
            object-fit: cover;
            opacity: 0.7;
        }
        .homeTopBanner{
            position: relative;
            margin-top: 76.05px;
            z-index: 1;
            font-family: $standard-font;
            font-weight: $light-font-weight;
            color: $pure-white;
            padding: 8vw;
            text-align: left;
            .homeTopBannerHeader {
                text-align: left;
                font-size: $header-font-size;
                padding: 20px;
            }
            .homeToServicesLink {
                text-decoration: none;
            }
        }
    }

    .homeTeamBanner {
        width: 100%;
        align-self: center;
    }

    .homePageContentBox {
        display: flex;
        flex-direction: column;
        padding-left: 5vw;
        padding-right: 5vw;
        padding-top: 1vw;
        margin-top: 3vw;
        margin-bottom: 3vw;
        width: 100%;
        max-width: 900px;
        background-color: $pure-white;
        .homeWhatWeDo {
            font-family: $standard-font;
            width: 60vw;
            min-width: 300px;
            margin: 50px;
            margin-left: auto;
            margin-right: auto;
    
            .homeWhatWeDoHeader {
                @include standardHeaderTemplate();
            }
            .homeWhatWeDoText {
                @include standardTextBlockTemplate();
                p {
                    margin-top: 0;
                    margin-bottom: 20px;
                }
            }
        }
        
    }

    .homePagePromoContent {
        padding-left: 5vw;
        padding-right: 5vw;
        margin-top: 3vw;
        margin-bottom: 3vw;
        max-width: 900px;
        background-color: $pure-white;
        text-align: center;
        .homePagePromoContentHeader {
            @include standardHeaderTemplate();
            margin-top: 3vw;
            margin-bottom: 3vw;
        }
        .homePagePromoContentFlexBox {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            .homePagePromoContentSection {
                margin-top: 2vw;
                margin-bottom: 2vw;
                max-width: 400px;
                position: relative;
                .homePagePromoContentSectionIcon {
                    position: relative;
                    top: -10px;
                    margin-bottom: -30px;
                }
                .homePagePromoContentSectionHeader {
                    @include standardHeaderTemplate();
                    color: $text-purple;
                    font-size: $button-font-size;
                }
                .homePagePromoContentSectionText {
                    @include standardTextBlockTemplate();
                    margin: auto;
                }
            }
        }
        .homePagePromoContentInkstoneTeamMap {
            width: 60vw;
        }
    }
}
