@import '../../base.scss';
@import './button.scss';

.genericButton {
    @include button;
    background-color: $inkstone-purple;
    color: $pure-white;
    g{
        fill: $pure-white;
    }

    &:hover {
        background-color: $highlight-purple;
        g {
            fill: $pure-white;
        }
    }
    &:disabled {
        background-color: $disabled-bg;
        color: $disabled-text;
    }
}