@import '../../base.scss';

.essayClinic {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $standard-font;
    margin-top: auto;
    margin-bottom: auto;
    .essayClinicHeader {
        font-size: $header-font-size;
        color: $inkstone-purple;
        font-weight: $bold-font-weight;
        margin: 20px;
    }
    .essayClinicText {
        color: $text-purple;
        font-weight: $standard-font-weight;
        width: 90vw;
        max-width: 700px;
    }
}