@import '../../base.scss';

.essayClinic {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
    .essayClinicHeader {
        @include standardHeaderTemplate();
    }
    .essayClinicText {
        @include standardTextBlockTemplate();
        width: 90vw;
        max-width: 700px;
    }
}