@import '../../base.scss';

.placeholder {
    font-family: $standard-font;
    color: $inkstone-purple;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vw;
    margin-top: auto;
    margin-bottom: auto;
    .placeholderHeader {
        font-size: calc(min(max(30px, 5vw), 60px));
    }
    .placeholderText {
        font-size: calc(min(max(15px, 2vw), 30px));
    }
}